* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/*--- MENU DESPLEGABLE ---*/
header .colorMenu {
  background: linear-gradient(to left, #607D8B, #000C40); }

header nav div ul li a {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px; }

/*------------- INDEX -------------------*/
/*--- SECCION IMG CENTRAL ---*/
.seccion1 {
  background-image: url(../img/central1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff; }
  .seccion1 .contenedorSeccion1 .bannerImgCentral {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin-top: 250px;
    text-align: center;
    color: #f0f3a5;
    position: relative; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      margin-bottom: 30px;
      opacity: 0.8; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral span {
      font-family: 'Open Sans', sans-serif;
      color: #f06060; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .buttonIndex {
      font-size: 20px;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff !important;
      background-color: #f06060;
      margin-bottom: 20px; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .button1 button:hover {
      background-color: #a0314d;
      transition: 0.5s;
      cursor: pointer; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .button2 button:hover {
      background-color: #a0314d;
      transition: 0.5s;
      cursor: pointer; }

.wspFixed {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 2;
  width: 80px;
  opacity: 0.8; }
  .wspFixed .imgWsp {
    width: 100px;
    height: 100px; }

/*--- SECCION CUADROS ---*/
section .containerCuadros {
  background: linear-gradient(to right, #FD746C, #FF9068); }
  section .containerCuadros .cuadros {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
    border: 1px solid #fff; }
    section .containerCuadros .cuadros h3 {
      font-size: 20px;
      font-weight: 900;
      color: #fff !important; }
    section .containerCuadros .cuadros p {
      font-size: 14px;
      font-weight: 600;
      color: #fff !important;
      margin-top: 7px; }
    section .containerCuadros .cuadros .contenedorImgCuadros .imgCuadros {
      width: 100px;
      height: 100px; }

/*--- SECCION FOOTER ---*/
footer {
  background: linear-gradient(to left, #607D8B, #000C40);
  border: 1px solid #fff;
  width: 100%;
  height: 100px;
  text-align: center; }
  footer .contenedorFooter .textoDerechos {
    margin-top: 7px;
    font-size: 12px;
    color: #fff !important; }
  footer .contenedorFooter .contenedorLogoFooter {
    display: none; }
  footer .contenedorFooter .contenedorRedes {
    margin: 20px; }
    footer .contenedorFooter .contenedorRedes a .iconosRedes {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      opacity: 0.8; }

/*------------- MEDIA QUERIES-----------------*/
/*------ MIN 992PX------*/
@media screen and (min-width: 992px) {
  /*------------- INDEX -------------------*/
  /*--- SECCION IMG CENTRAL ---*/
  .seccion1 {
    background-position: center;
    height: 700px; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral {
      margin-top: 190px;
      display: grid;
      grid-template-areas: "bannerText bannerText " "button1 button2"; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText {
        grid-area: bannerText; }
        .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText h1 {
          font-size: 80px;
          margin-bottom: 0px;
          opacity: 1;
          display: flex;
          flex-direction: column; }
        .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText .buttonIndex {
          font-size: 30px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .button1 {
        grid-area: button1;
        margin-top: 180px;
        text-align: end;
        margin-top: 180px;
        padding-right: 100px; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .button2 {
        grid-area: button2;
        text-align: start;
        margin-top: 180px; }
  .wspFixed {
    position: fixed;
    right: 40px; }
  /*--- SECCION CUADROS ---*/
  section .containerCuadros {
    display: flex;
    flex-direction: row; }
    section .containerCuadros .cuadros {
      padding: 40px; }
      section .containerCuadros .cuadros h3 {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif; }
      section .containerCuadros .cuadros p {
        font-size: 16px;
        font-weight: 0;
        color: #fff;
        font-family: 'Roboto', sans-serif; }
  /*--- SECCION FOOTER ---*/
  footer .contenedorFooter {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .contenedorFooter .textoDerechos {
      margin-top: 10px;
      display: flex;
      margin-left: 20px; }
    footer .contenedorFooter .contenedorLogoFooter {
      display: flex;
      margin-top: 5px; }
    footer .contenedorFooter .contenedorRedes {
      margin-right: 130px;
      display: flex; } }
