.seccion1, section .containerCuadros .cuadros, footer {
  border: 1px solid #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/*--- MENU DESPLEGABLE ---*/
header .colorMenu {
  background: linear-gradient(to left, #607D8B, #000C40); }

header nav div ul li a {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px; }

/*------------- INDEX -------------------*/
/*--- SECCION IMG CENTRAL ---*/
.seccion1 {
  background-image: url(../img/central1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion1 .contenedorSeccion1 .bannerImgCentral {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin-top: 250px;
    text-align: center;
    color: #f0f3a5;
    position: relative; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      margin-bottom: 30px;
      opacity: 0.8; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral span {
      font-family: 'Open Sans', sans-serif;
      color: #f06060; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .buttonIndex {
      font-size: 20px;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff !important;
      background-color: #f06060;
      margin-bottom: 20px; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .button1 button:hover {
      background-color: #a0314d;
      transition: 0.5s;
      cursor: pointer; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral .button2 button:hover {
      background-color: #a0314d;
      transition: 0.5s;
      cursor: pointer; }

.wspFixed {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 2;
  width: 80px;
  opacity: 0.8; }
  .wspFixed .imgWsp {
    width: 100px;
    height: 100px; }

/*--- SECCION CUADROS ---*/
section .containerCuadros {
  background: linear-gradient(to right, #FD746C, #FF9068); }
  section .containerCuadros .cuadros {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px; }
    section .containerCuadros .cuadros h3 {
      font-size: 20px;
      font-weight: 900;
      color: #fff !important; }
    section .containerCuadros .cuadros p {
      font-size: 14px;
      font-weight: 600;
      color: #fff !important;
      margin-top: 7px; }
    section .containerCuadros .cuadros .contenedorImgCuadros .imgCuadros {
      width: 100px;
      height: 100px; }

/*--- SECCION FOOTER ---*/
footer {
  background: linear-gradient(to left, #607D8B, #000C40);
  width: 100%;
  height: 100px;
  text-align: center; }
  footer .contenedorFooter .textoDerechos {
    margin-top: 7px;
    font-size: 12px;
    color: #fff !important; }
  footer .contenedorFooter .contenedorLogoFooter {
    display: none; }
  footer .contenedorFooter .contenedorRedes {
    margin: 20px; }
    footer .contenedorFooter .contenedorRedes a .iconosRedes {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      opacity: 0.8; }

/*------------- PAGE ACTIVIDADES -----------------*/
.containerImg .containerImgInd1 {
  background-image: url(../img/Musculacion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd1 .buttonAct1 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(201, 47, 47, 0.8); }

.containerImg .containerImgInd2 {
  background-image: url(../img/Funcional.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd2 .buttonAct2 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(19, 116, 24, 0.8); }

.containerImg .containerImgInd3 {
  background-image: url(../img/pilates.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd3 .buttonAct3 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(192, 32, 157, 0.8); }

.containerImg .containerImgInd4 {
  background-image: url(../img/Crossfit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd4 .buttonAct4 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(253, 144, 71, 0.8); }

.containerImg .containerImgInd5 {
  background-image: url(../img/yoga.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd5 .buttonAct5 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(171, 36, 212, 0.8); }

.containerImg .containerImgInd6 {
  background-image: url(../img/Outdoor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  text-align: center;
  border-top: 1px solid #fff; }
  .containerImg .containerImgInd6 .buttonAct6 {
    width: 230px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 180px;
    background-color: rgba(9, 130, 201, 0.8); }

/*------------- PAGE HORARIOS -----------------*/
.seccionAct {
  padding: 55px;
  background: #FD746C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD746C, #FF9068);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD746C, #FF9068);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #fff; }

/*------------- PAGE SOBRE NOSOTROS -----------------*/
.seccionSobreNosotros {
  padding: 55px;
  background: #FD746C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD746C, #FF9068);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD746C, #FF9068);
  /*     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+    */
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  text-align: center; }
  .seccionSobreNosotros .titulosSobreNosotros {
    color: #fff !important;
    font-size: 40px;
    font-weight: bold; }
  .seccionSobreNosotros .contenedorTexto2 {
    margin-top: 50px; }

.seccionSobreNosotros2 {
  padding: 0px 55px;
  background: #FD746C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD746C, #FF9068);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD746C, #FF9068);
  /*     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+    */
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  text-align: center; }
  .seccionSobreNosotros2 .tituloInstructores {
    color: #fff !important;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px; }
  .seccionSobreNosotros2 .containerProfes .containerImg1 {
    background-image: url(../img/profe1.jpg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px; }
    .seccionSobreNosotros2 .containerProfes .containerImg1 .buttonProfe1 {
      width: 270px;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: 255px;
      background-color: rgba(171, 36, 212, 0.8);
      cursor: default; }
  .seccionSobreNosotros2 .containerProfes .containerImg2 {
    background-image: url(../img/profe2.jpg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center; }
    .seccionSobreNosotros2 .containerProfes .containerImg2 .buttonProfe2 {
      width: 270px;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: 255px;
      background-color: rgba(212, 36, 36, 0.8);
      cursor: default; }
  .seccionSobreNosotros2 .containerProfes .containerImg3 {
    background-image: url(../img/profe3.jpg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center; }
    .seccionSobreNosotros2 .containerProfes .containerImg3 .buttonProfe3 {
      width: 270px;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: 255px;
      background-color: rgba(29, 117, 98, 0.8);
      cursor: default; }
  .seccionSobreNosotros2 .containerProfes .containerImg4 {
    background-image: url(../img/profe4.jpg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center; }
    .seccionSobreNosotros2 .containerProfes .containerImg4 .buttonProfe4 {
      width: 270px;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: 255px;
      background-color: rgba(36, 62, 212, 0.8);
      cursor: default; }

/*------------- MEDIA QUERIES-----------------*/
/*------ MIN 992PX------*/
@media screen and (min-width: 992px) {
  /*------------- INDEX -------------------*/
  /*--- SECCION IMG CENTRAL ---*/
  .seccion1 {
    background-position: center;
    height: 700px; }
    .seccion1 .contenedorSeccion1 .bannerImgCentral {
      margin-top: 190px;
      display: grid;
      grid-template-areas: "bannerText bannerText " "button1 button2"; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText {
        grid-area: bannerText; }
        .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText h1 {
          font-size: 80px;
          margin-bottom: 0px;
          opacity: 1;
          display: flex;
          flex-direction: column; }
        .seccion1 .contenedorSeccion1 .bannerImgCentral .bannerText .buttonIndex {
          font-size: 30px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .button1 {
        grid-area: button1;
        margin-top: 180px;
        text-align: end;
        margin-top: 180px;
        padding-right: 100px; }
      .seccion1 .contenedorSeccion1 .bannerImgCentral .button2 {
        grid-area: button2;
        text-align: start;
        margin-top: 180px; }
  .wspFixed {
    position: fixed;
    right: 40px; }
  /*--- SECCION CUADROS ---*/
  section .containerCuadros {
    display: flex;
    flex-direction: row; }
    section .containerCuadros .cuadros {
      padding: 40px; }
      section .containerCuadros .cuadros h3 {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif; }
      section .containerCuadros .cuadros p {
        font-size: 16px;
        font-weight: 0;
        color: #fff;
        font-family: 'Roboto', sans-serif; }
  /*--- SECCION FOOTER ---*/
  footer .contenedorFooter {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .contenedorFooter .textoDerechos {
      margin-top: 10px;
      display: flex;
      margin-left: 20px; }
    footer .contenedorFooter .contenedorLogoFooter {
      display: flex;
      margin-top: 5px; }
    footer .contenedorFooter .contenedorRedes {
      margin-right: 130px;
      display: flex; } }
