@import "utilities/variables";
@import "utilities/others";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	}

    /*--- MENU DESPLEGABLE ---*/
    header{
        .colorMenu{
            background: $color-header-footer;
        }
        nav{
            div{
                ul{
                    li{
                        a{
                            color: $color-letras-general;
                            font-size: 20px;
	                        font-weight:500;
	                        margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

/*------------- INDEX -------------------*/
	/*--- SECCION IMG CENTRAL ---*/
    .seccion1{
        background-image: url(../img/central1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @extend %bordeGeneral;
        .contenedorSeccion1{
            .bannerImgCentral{
                @include size (100%, 100%);
                padding: 0 30px;
                margin-top: 250px;
                text-align: center;
                color: rgb(240, 243, 165);
                position: relative;
                .bannerText{
                    h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 60px;
                    margin-bottom: 30px;
                    opacity: 0.8;
                    }
                }
                span{
                    font-family: 'Open Sans', sans-serif;
                    color: rgb(240, 96, 96); 
                }
                .buttonIndex{
                    font-size: 20px;
                    font-weight:bold;
                    padding: 10px 30px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.3);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: $color-letras-general;
                    background-color: rgb(240, 96, 96);
                    margin-bottom: 20px;
                }
                .button1{
                    button{
                        &:hover{
                            background-color: map-get($map: $hover, $key: bg-hover);
                            transition: map-get($map: $hover, $key: time-transition);
                            cursor: map-get($map: $hover, $key: cursor-hover);
                        }
                    }
                }
                .button2{
                    button{
                        &:hover{
                            background-color: map-get($map: $hover, $key: bg-hover);
                            transition: map-get($map: $hover, $key: time-transition);
                            cursor: map-get($map: $hover, $key: cursor-hover);
                        }
                    }
                }
            }
        }
    }
    .wspFixed{
        position: fixed;
        right: 30px;
        bottom: 40px;
        z-index: 2;
        width: 80px;
        opacity: 0.8;
        .imgWsp{
            @include size (100px, 100px);
        }
    }

    	/*--- SECCION CUADROS ---*/
    section{
        .containerCuadros{
            background: $color-secciones-gral;
            .cuadros{
                letter-spacing: 1px;
                text-align: center;
                padding: 20px;
                @extend %bordeGeneral;
                h3{
                    font-size: 20px;
                    font-weight: 900;
                    color: $color-letras-general;
                }
                p{
                    font-size: 14px;
                    font-weight:600;
                    color: $color-letras-general;
                    margin-top: 7px; 
                }
                .contenedorImgCuadros{
                    .imgCuadros{
                        @include size (100px, 100px);
                    }
                }
            }
        }
    }

    	/*--- SECCION FOOTER ---*/
    footer{
        background: $color-header-footer;
        @extend %bordeGeneral;
        @include size (100%, 100px);
        text-align: center;  
        .contenedorFooter{
            .textoDerechos{
                margin-top: 7px;
                font-size: 12px;
                color: $color-letras-general;
            }
            .contenedorLogoFooter{
                display: none;
            }
            .contenedorRedes{
                margin: 20px;
                a{
                    .iconosRedes{
                        @include size (30px, 30px);
                        margin-left: 15px;
                        opacity: 0.8;
                    }
                }
            }

        }
    }

/*------------- PAGE ACTIVIDADES -----------------*/

    .containerImg{
        .containerImgInd1{
            background-image: url(../img/Musculacion.jpg);
            @include cuadrosActiv;
            .buttonAct1{
                @include buttonActiv;
                background-color: rgba(201, 47, 47, 0.8);
            }
        }
        .containerImgInd2{
            background-image: url(../img/Funcional.jpg);
            @include cuadrosActiv;
            .buttonAct2{
                @include buttonActiv;
                background-color: rgba(19, 116, 24, 0.8);
            }
        }
        .containerImgInd3{
            background-image: url(../img/pilates.jpg);
            @include cuadrosActiv;
            .buttonAct3{
                @include buttonActiv;
                background-color: rgba(192, 32, 157, 0.8);
            }
        }
        .containerImgInd4{
            background-image: url(../img/Crossfit.jpg);
            @include cuadrosActiv;
            .buttonAct4{
                @include buttonActiv;
                background-color: rgba(253, 144, 71, 0.8);
            }
        }
        .containerImgInd5{
            background-image: url(../img/yoga.jpg);
            @include cuadrosActiv;
            .buttonAct5{
                @include buttonActiv;
                background-color: rgba(171, 36, 212, 0.8);
            }
        }
        .containerImgInd6{
            background-image: url(../img/Outdoor.jpg);
            @include cuadrosActiv;
            .buttonAct6{
                @include buttonActiv;
                background-color: rgba(9, 130, 201, 0.8);
            }
        }
    }

    /*------------- PAGE HORARIOS -----------------*/

    .seccionAct{
		padding: 55px;
		background: #FD746C;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FD746C, #FF9068);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FD746C, #FF9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border: 1px solid #fff;
	}


 /*------------- PAGE SOBRE NOSOTROS -----------------*/

    .seccionSobreNosotros {
        padding: 55px;
        background: #FD746C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FD746C, #FF9068) ;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FD746C, #FF9068); /*     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+    */
        color: $color-letras-general;
        font-size: 20px;
	    font-weight:500;
        text-align: center;
        .titulosSobreNosotros{
            color: $color-letras-general;
            font-size: 40px;
	        font-weight:bold;
        }
        .contenedorTexto2{
            margin-top: 50px;
        }
    }
    .seccionSobreNosotros2 {
        padding: 0px 55px;
        background: #FD746C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FD746C, #FF9068) ;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FD746C, #FF9068); /*     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+    */
        color: $color-letras-general;
        font-size: 20px;
	    font-weight:500;
        text-align: center;
        .tituloInstructores{
            color: $color-letras-general;
            font-size: 40px;
	        font-weight:bold;
            margin-bottom: 15px;
        }
        .containerProfes{
            .containerImg1{
                background-image: url(../img/profe1.jpg);
                border: 2px solid white;
                background-repeat: no-repeat;
	            background-position: center;
	            background-size: cover;
	            width: 100%;
	            height: 300px;
                .buttonProfe1{
                    width: 270px;
                    height: 40px;
                    font-size: 18px;
                    font-weight:bold;
                    padding-top: 5px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.5);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: #fff;
                    margin-top: 255px;
                    background-color: rgba(171, 36, 212, 0.8);
                    cursor:default;
                }
            }
            .containerImg2{
                background-image: url(../img/profe2.jpg);
                border: 2px solid white;
                background-repeat: no-repeat;
	            background-position: top;
	            background-size: cover;
	            width: 100%;
	            height: 300px;
	            text-align: center;
                .buttonProfe2{
                    width: 270px;
                    height: 40px;
                    font-size: 18px;
                    font-weight:bold;
                    padding-top: 5px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.5);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: #fff;
                    margin-top: 255px;
                    background-color: rgba(212, 36, 36, 0.8);
                    cursor:default;
                }
            }
            .containerImg3{
                background-image: url(../img/profe3.jpg);
                border: 2px solid white;
                background-repeat: no-repeat;
	            background-position:top ;
	            background-size: cover;
	            width: 100%;
	            height: 300px;
	            text-align: center;
                .buttonProfe3{
                    width: 270px;
                    height: 40px;
                    font-size: 18px;
                    font-weight:bold;
                    padding-top: 5px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.5);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: #fff;
                    margin-top: 255px;
                    background-color: rgba(29, 117, 98, 0.8);
                    cursor:default;
                }
            }
            .containerImg4{
                background-image: url(../img/profe4.jpg);
                border: 2px solid white;
                background-repeat: no-repeat;
	            background-position: top;
	            background-size: cover;
	            width: 100%;
	            height: 300px;
	            text-align: center;
                .buttonProfe4{
                    width: 270px;
                    height: 40px;
                    font-size: 18px;
                    font-weight:bold;
                    padding-top: 5px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.5);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: #fff;
                    margin-top: 255px;
                    background-color: rgba(36, 62, 212, 0.8);
                    cursor:default;
                }
            }
        }
}


























































/*------------- MEDIA QUERIES-----------------*/
/*------ MIN 992PX------*/
@media screen and (min-width: 992px) {
	
    /*------------- INDEX -------------------*/
        /*--- SECCION IMG CENTRAL ---*/
    .seccion1{
        background-position: center;
        height: 700px;
        .contenedorSeccion1{
            .bannerImgCentral{
                margin-top: 190px;
                display: grid;
                grid-template-areas: "bannerText bannerText "
                                    "button1 button2";
                    .bannerText{
                        grid-area: bannerText;
                        h1{
                            font-size: 80px;
                            margin-bottom: 0px;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                        }
                    .buttonIndex{
                        font-size: 30px;
                        font-weight:500;
                        font-family: 'Roboto', sans-serif;
                    }
                }
                    .button1{
                        grid-area: button1;
                        margin-top: 180px;
                        text-align: end;
                        margin-top: 180px;
                        padding-right: 100px;
                    }
                    .button2{
                        grid-area: button2;
                        text-align: start;
                        margin-top: 180px;
                    }
                    
            }
        }
    }
    .wspFixed{
        position: fixed;
        right: 40px;
    }

	/*--- SECCION CUADROS ---*/
    section{
        .containerCuadros{
            display:flex;
            flex-direction: row;
            .cuadros{
                padding: 40px;
                h3{
                    font-size: 22px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }
                p{
                    font-size: 16px;
                    font-weight:0;
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }


	/*--- SECCION FOOTER ---*/

    footer{
       .contenedorFooter{
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                align-items: center;
                
            .textoDerechos{
                margin-top: 10px;
                display: flex;
                margin-left: 20px;
            }

            .contenedorLogoFooter{
                display: flex;
                margin-top: 5px;
            }
            
            .contenedorRedes{
                margin-right: 130px;
	            display: flex;
            }
        }
}
}
