@import "utilities/variables";
@import "utilities/others";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	}

    /*--- MENU DESPLEGABLE ---*/
    header{
        .colorMenu{
            background: $color-header-footer;
        }
        nav{
            div{
                ul{
                    li{
                        a{
                            color: $color-letras-general;
                            font-size: 20px;
	                        font-weight:500;
	                        margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

/*------------- INDEX -------------------*/
	    /*--- SECCION IMG CENTRAL ---*/
    .seccion1{
        background-image: url(../img/central1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @extend %bordeGeneral;
        .contenedorSeccion1{
            .bannerImgCentral{
                @include size (100%, 100%);
                padding: 0 30px;
                margin-top: 250px;
                text-align: center;
                color: rgb(240, 243, 165);
                position: relative;
                .bannerText{
                    h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 60px;
                    margin-bottom: 30px;
                    opacity: 0.8;
                    }
                }
                span{
                    font-family: 'Open Sans', sans-serif;
                    color: rgb(240, 96, 96); 
                }
                .buttonIndex{
                    font-size: 20px;
                    font-weight:bold;
                    padding: 10px 30px;
                    border-radius: 5px;
                    border: 2px solid rgba(0,0,0,0.3);
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                    color: $color-letras-general;
                    background-color: rgb(240, 96, 96);
                    margin-bottom: 20px;
                }
                .button1{
                    button{
                        &:hover{
                            background-color: map-get($map: $hover, $key: bg-hover);
                            transition: map-get($map: $hover, $key: time-transition);
                            cursor: map-get($map: $hover, $key: cursor-hover);
                        }
                    }
                }
                .button2{
                    button{
                        &:hover{
                            background-color: map-get($map: $hover, $key: bg-hover);
                            transition: map-get($map: $hover, $key: time-transition);
                            cursor: map-get($map: $hover, $key: cursor-hover);
                        }
                    }
                }
            }
        }
    }
    .wspFixed{
        position: fixed;
        right: 30px;
        bottom: 40px;
        z-index: 2;
        width: 80px;
        opacity: 0.8;
        .imgWsp{
            @include size (100px, 100px);
        }
    }

        /*--- SECCION CUADROS ---*/
    section{
        .containerCuadros{
            background: $color-secciones-gral;
            .cuadros{
                letter-spacing: 1px;
                text-align: center;
                padding: 20px;
                @extend %bordeGeneral;
                h3{
                    font-size: 20px;
                    font-weight: 600;
                    color: $color-letras-general;
                }
                p{
                    font-size: 20px;
                    color: $color-letras-general;
                    margin-top: 7px; 
                }
                .contenedorImgCuadros{
                    .imgCuadros{
                        @include size (100px, 100px);
                    }
                }
            }
        }
    }

    	/*--- SECCION FOOTER ---*/
    footer{
        background: $color-header-footer;
        @extend %bordeGeneral;
        @include size (100%, 100px);
        text-align: center;  
        .contenedorFooter{
            .textoDerechos{
                margin-top: 7px;
                font-size: 12px;
                color: $color-letras-general;
            }
            .contenedorLogoFooter{
                display: none;
            }
            .contenedorRedes{
                margin: 20px;
                a{
                    .iconosRedes{
                        @include size (30px, 30px);
                        margin-left: 15px;
                        opacity: 0.8;
                    }
                }
            }

        }
    }

/*------------- PAGE ACTIVIDADES -----------------*/

    .animate__animated1{
        animation-duration: 3s;
    }
    .row{
        justify-content: center;
        background: $color-secciones-gral;
        border: 1px solid #fff;
        .col{
            width: 500px;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            .card{
                background: $color-cards-activ;
                border: 2px solid #fff;
                color: white;
                .card-img-top{
                    @include size (100%, 250px);
                }
                .card-body{
                    border-top: 2px solid #fff;
                    .card-title{
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }

/*------------- PAGE HORARIOS -----------------*/

    .seccionAct{
		padding: 55px;
		background: $color-secciones-gral;
		border: 1px solid #fff;
        height: 760px;
	}


/*------------- PAGE SOBRE NOSOTROS -----------------*/

    .seccionSobreNosotros {
        padding: 20px;
        background: $color-secciones-gral;
        color: $color-letras-general;
        font-size: 20px;
	    font-weight:500;
        text-align: center;
        .titulosSobreNosotros{
            color: $color-letras-general;
            font-size: 40px;
	        font-weight:bold;
        }
        .contenedorTexto2{
            margin-top: 50px;
        }
    }
    .seccionSobreNosotros2 {
        padding: 0px 55px;
        background: $color-secciones-gral;
        color: $color-letras-general;
        font-size: 20px;
	    font-weight:500;
        text-align: center;
        .tituloInstructores{
            color: $color-letras-general;
            font-size: 40px;
	        font-weight:bold;
            margin-bottom: 15px;
        }
        .containerProfes{
            .containerImg1{
                background-image: url(../img/profe1.jpg);
                @include containerProfes;
                .buttonProfe1{
                    @include buttonProfes;
                    background-color: rgba(171, 36, 212, 0.8);
                }
            }
            .containerImg2{
                background-image: url(../img/profe2.jpg);
                @include containerProfes;
	            .buttonProfe2{
                    @include buttonProfes;
                    background-color: rgba(212, 36, 36, 0.8);
                }
            }
            .containerImg3{
                background-image: url(../img/profe3.jpg);
                @include containerProfes;
	            .buttonProfe3{
                    @include buttonProfes;
                    background-color: rgba(29, 117, 98, 0.8);
                }
            }
            .containerImg4{
                background-image: url(../img/profe4.jpg);
                @include containerProfes;
	            .buttonProfe4{
                    @include buttonProfes;
                    background-color: rgba(180, 172, 59, 0.8);
                }
            }
            .containerImg5{
                background-image: url(../img/profe5.jpg);
                @include containerProfes;
	            .buttonProfe5{
                    @include buttonProfes;
                    background-color: rgba(36, 156, 212, 0.8);
                }
            }
            .containerImg6{
                background-image: url(../img/profe6.jpg);
                @include containerProfes;
	            .buttonProfe6{
                    @include buttonProfes;
                    background-color: rgba(255, 171, 61, 0.8);
                }
            }     
        }
    }

/*------------- PAGE CONTACTO -----------------*/
    .seccionContacto{
        background: $color-secciones-gral;
        padding:  1.5em;
        h2{
            color: #fff;
            font-size: 40px;
            font-weight:bold;
        }
        .contenedor1{
            padding: 1.5em;
           .tituloVideo{
                color: #fff;
                font-size: 30px;
                font-weight:bold;
                text-align: center;
                padding-top: 20px;
            }
            .video{
                @include size (100%, 400px);
            }
            .contenedorUbicacion{
                text-align: center;
                .ubicacion{
                    @include size (100%, 300px);
                    padding-top: 20px;
                }
            }
            .contenedorForm{
                margin: 0;
                padding: 1em;
                form{
                    p{
                        color: #fff
                    }
                    .parrafosForm{
                        @include elementsForm;
                    }
                    .buttonForm{
                        @include elementsForm;
                        background-color:rgb(15, 136, 136);
                        border: 0;
                        text-transform: uppercase;
                        padding: 1em;
                    }    
                }
            }
        }
    }
        
 
    /*--------------------- MEDIA QUERIES----------------------*/
            /*------ DESKTOP - MIN 992PX------*/
    @media screen and (min-width: 992px) {
	
    /*------------- INDEX -------------------*/
        /*--- SECCION IMG CENTRAL ---*/
    .seccion1{
        background-position: center;
        height: 700px;
        .contenedorSeccion1{
            .bannerImgCentral{
                margin-top: 190px;
                display: grid;
                grid-template-areas: "bannerText bannerText "
                                     "button1 button2";
                    .bannerText{
                        grid-area: bannerText;
                        h1{
                            font-size: 80px;
                            margin-bottom: 0px;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                        }
                        .buttonIndex{
                            font-size: 30px;
                            font-weight:500;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                    .button1{
                        grid-area: button1;
                        margin-top: 180px;
                        text-align: end;
                        margin-top: 180px;
                        padding-right: 100px;
                    }
                    .button2{
                        grid-area: button2;
                        text-align: start;
                        margin-top: 180px;
                    }
            }
        }
    }
    .wspFixed{
        position: fixed;
        right: 40px;
    }

	/*--- SECCION CUADROS ---*/
    section{
        .containerCuadros{
            display:flex;
            flex-direction: row;
            .cuadros{
                padding: 40px;
                h3{
                    font-size: 22px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }
                p{
                    font-size: 16px;
                    font-weight:0;
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }


	/*--- SECCION FOOTER ---*/

    footer{
       .contenedorFooter{
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
            .textoDerechos{
                margin-top: 10px;
                display: flex;
                margin-left: 20px;
            }
            .contenedorLogoFooter{
                display: flex;
                margin-top: 5px;
            }
            .contenedorRedes{
                margin-right: 130px;
	            display: flex;
            }
        }
    }


    /*------------- PAGE ACTIVIDADES -------------------*/
    .containerImg{
        display: grid;
        grid-template-areas: "activ1 activ2 activ3"
                             "activ4 activ5 activ6";
        background: $color-secciones-gral;                    
        height: 758px;
        padding-top: 50px;
        .containerImgInd1{
            grid-area: activ1;
            @include size (100%, 300px);
            margin-top: 25px;
            .buttonAct1{
                margin-top: 240px;
            }
        }
        .containerImgInd2{
            grid-area: activ2;
            @include size (100%, 300px);
            margin-top: 25px;
            .buttonAct2{
                margin-top: 240px;
            }
        }
        .containerImgInd3{
            grid-area: activ3;
            @include size (100%, 300px);
            margin-top: 25px;
            .buttonAct3{
                margin-top: 240px;
            }
        }
        .containerImgInd4{
            grid-area: activ4;
            @include size (100%, 300px);
            .buttonAct4{
                margin-top: 240px;
            }
        }
        .containerImgInd5{
            grid-area: activ5;
            @include size (100%, 300px);
            margin-bottom: 83px;
            .buttonAct5{
                margin-top: 240px;
            }
        }
        .containerImgInd6{
            grid-area: activ6;
            @include size (100%, 300px);
            .buttonAct6{
                margin-top: 240px;
            }
        }
    }


    /*------------- PAGE SOBRE NOSOTROS -------------------*/
    .seccionSobreNosotros2{
        .containerProfes{
            display: grid;
            grid-template-areas: "profe1 profe2 profe3"
                                 "profe4 profe5 profe6";
            justify-content: center;
            padding-bottom: 55px;
            .containerImg1{
                grid-area: profe1;
                width: 300px;
                text-align: none;
            }
            .containerImg2{
                grid-area: profe2;
                width: 300px;
            }
            .containerImg3{
                grid-area: profe3;
                width: 300px;
            }
            .containerImg4{
                grid-area: profe4;
                width: 300px;
            }
            .containerImg5{
                grid-area: profe5;
                width: 300px;
            }
            .containerImg6{
                grid-area: profe6;
                width: 300px;
            }
        }
    }

    /*------------- PAGE CONTACTO -------------------*/
    .seccionContacto{
        height: 100vh;
        .tituloContacto{
            text-align: center;
        }
        .contenedor1{
            display: flex;
            justify-content: center;
            .contenedorForm{
                width: 500px;
            }
            .contenedorVideo{
                width: 700px;
                margin-left: 100px;
            }
            .contenedorUbicacion{
                display: none;
            }
        }
    }
}


    /*--------------------- MEDIA QUERIES----------------------*/
            /*------ TABLET - MIN 576PX------*/
        @media screen and (min-width: 576px) and (max-width:992px) {
    /*------------- PAGE SOBRE NOSOTROS -------------------*/
    .seccionSobreNosotros2{
        .containerProfes{
            display: grid;
            grid-template-areas: "profe1 profe2"
                                 "profe3 profe4"
                                 "profe5 profe6";
            justify-content: center;
            padding-bottom: 55px;
            .containerImg1{
                grid-area: profe1;
                width: 300px;
                text-align: none;
            }
            .containerImg2{
                grid-area: profe2;
                width: 300px;
            }
            .containerImg3{
                grid-area: profe3;
                width: 300px;
            }
            .containerImg4{
                grid-area: profe4;
                width: 300px;
            }
            .containerImg5{
                grid-area: profe5;
                width: 300px;
            }
            .containerImg6{
                grid-area: profe6;
                width: 300px;
            }
        }
    }

    /*------------- PAGE CONTACTO -------------------*/
    .seccionContacto{
        text-align: center;
    }
}