$reset-margin: 0;
$reset-padding: 0;
$reset-box-sizing: border-box;
$reset-font-family: 'Montserrat', sans-serif;
$color-header-footer: linear-gradient(to left, #607D8B, #000C40);
$color-letras-general: #fff !important;
$color-botones-index: rgb(240, 96, 96);
$color-secciones-gral: linear-gradient(to right, #FD746C, #FF9068);
$margin-botones-index:  20px;
$bordes-generales: 1px solid #fff;
